@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #045AA9;
}

.parent {
    background-image: url('../images/roofshingles.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}


.sub-heading {
    border: 1px solid white;
    background: white;
    border-radius: 8px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 32px;
    padding-top: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 96px;
    padding-right: 96px;
}

.footer-parent {
    background-color: var(--primary-color);
    display: grid;
    position: static;
    bottom: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.footer-main {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    grid-gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    font-weight: 600;
}

.copyright {
    font-weight: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.tp-parent {
    display: flex;
    flex-direction: row;
    grid-gap: 8px;
    font-size: 16px;
    font-weight: 400;
    justify-content: normal;
    color: rgba(255, 255, 255, 0.7)
}

.terms {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
}

.privacy {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
}

.logo {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
    background-color: #045AA9;
}

.logo img {
    height: 24px;
    width: auto;
}

.mobile-logo {
    display: none;
}

.desktop-logo {
    display: block;
}

@media screen and (max-width: 768px) {
    .sub-heading {
        font-size: 32px;
        margin-left: 24px;
        margin-right: 24px;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
    }

    .logo {
        padding-top: 16px;
        padding-bottom: 24px;
        background-color: white;
    }

    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    .footer-main {
        flex-direction: column-reverse;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .tp-parent {
        justify-content: center;
    }
}